<%@ tag language="java" pageEncoding="UTF-8"%>

<%@ attribute name="title" %>
<%@ attribute name ="text" %>

	<table style="text-align: center;">
		<tr>
			<td >
				<h4 >${title }</h4>
				<p >${text }</p>
			</td>
		</tr>
	</table>
 

